<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Travelling Tables</title>
  <meta name="author" content="Team Travelling Tables">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import Font Awesome Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Import css-->
  <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
  <!-- <link type="text/css" rel="stylesheet" href="./assets/css/navigation.css" /> -->
</head>

<body>
  {{{body}}}
<script type="text/javascript" src="../public/js/scripts.js"> </script>
</body>

</html>
